<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col items-center justify-center h-screen bg-slate-900">
    <div class="w-full max-w-xl p-4 bg-white rounded-lg shadow-md text-center flex flex-col items-center">
        <h1 class="text-3xl font-bold text-blue-600">Welcome to Our User Authentication With JWT 🚀</h1>
        <p class="mt-2 text-gray-600">Securely authenticate users with JSON Web Tokens (JWT).</p>
        <div class="w-2/4">
            <div class="mt-6 flex flex-col gap-4">
                <a href="/login"
                    class="block w-full px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition">
                    Login
                </a>
                <a href="/register"
                    class="block w-full px-4 py-2 bg-green-500 text-white font-semibold rounded-lg hover:bg-green-600 transition">
                    Register
                </a>
            </div>
        </div>
    </div>
</body>

</html>